<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block stylesheets %}{% endblock stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTU{% block title %}{% endblock %}</title>
</head>
<body>
    <header id="main-header">
        <h1>Bowl Them Up{% block header %}{% endblock header %}</h1>
    </header>
    <div id="nav-wrapper">
        <nav class="main-navbar" style="float: left;">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'createbooking' %}">Bookings</a>
        </nav>
        <nav class="main-navbar" style="float: right;">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        </nav>
    </div>

    <main>
    {% block content %} {% endblock %}
    </main>
</body>