{% extends 'base.html' %}
{% load static %}
{% block title %} // Create Booking{% endblock title %}
{% block header %} / New Booking{% endblock header %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/bookingforms.css' %}">
{% endblock %}

{% block content %}
<div id='form-wrapper'>
    <form id='form' method='POST'>
        {% csrf_token %}
        <div>
            {{ form }}
        </div>
        <input class='btn accent-btn' type='submit' value='Next'>
    </form>
</div>
{% endblock %}