{% extends 'base.html' %}

{% block title %} // Contact Us{% endblock title %}
{% block header %} / Contact Information{% endblock header %}

{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<div id='contact-page-wrapper'>
    <div class='contact-page-row'>
        <!-- This row contains contact info including email and phone numbers -->
        <h1>We would love to hear from you!</h1>
        <div class='contact-page-row-internal'>
            <section class='contact-page-column'>
                <h2>Contact Regarding Bookings</h2>
                <ul>
                    <li>
                        <h3>Phone Number:</h3>
                        +44 7584 984313
                    </li>
                    <li>
                        <h3>Email Address:</h3>
                        bookings@bowlthemup.co.uk
                    </li>
                </ul>
            </section>
            <section class='contact-page-column'>
                <h2>Careers</h2>
                <ul>
                    <li>
                        <h3>Phone Number:</h3>
                        +44 7584 986326
                    </li>
                    <li>
                        <h3>Email Address</h3>
                        careers@bowlthemup.co.uk
                    </li>
                </ul>
            </section>
            <section class='contact-page-column'>
                <h2>Complaints</h2>
                <ul>
                    <li>
                        <h3>Phone Number:</h3>
                        +44 7584 977326
                    </li>
                    <li>
                        <h3>Email Address</h3>
                        complaints@bowlthemup.co.uk
                    </li>
                </ul>
            </section>
            <section class='contact-page-column'>
                <h2>Other Enquiries</h2>
                <ul>
                    <li>
                        <h3>Phone Number:</h3>
                        +44 7584 986388
                    </li>
                    <li>
                        <h3>Email Address</h3>
                        customersupport@bowlthemup.co.uk
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class='contact-page-row'>
        <!-- This row contains location info including address and google map iframe -->
        <h1>Where are we located?</h1>
        <div class='contact-page-row-internal'>
            im working on it

        </div>
    </div>
</div>


    <!-- <div id="contact-page-wrapper">
        <div class='contact-page-row'>
            <h1 class='row-h1'>We would love to hear from you!</h1>
            <div id="contact-methods-body">
                <section class='contact-methods-section contact-column'>
                    <h2>Contact Regarding Bookings</h2>
                    <ul>
                        <li>
                            <h3>Phone Number:</h3>
                            +44 7584 984313
                        </li>
                        <li>
                            <h3>Email Address:</h3>
                            bookings@bowlthemup.co.uk
                        </li>
                    </ul>
                </section>
                <section class='contact-methods-section contact-column'>
                    <h2>Careers</h2>
                    <ul>
                        <li>
                            <h3>Phone Number:</h3>
                            +44 7584 986326
                        </li>
                        <li>
                            <h3>Email Address</h3>
                            careers@bowlthemup.co.uk
                        </li>
                    </ul>
                </section>
                <section class='contact-methods-section contact-column'>
                    <h2>Complaints</h2>
                    <ul>
                        <li>
                            <h3>Phone Number:</h3>
                            +44 7584 977326
                        </li>
                        <li>
                            <h3>Email Address</h3>
                            complaints@bowlthemup.co.uk
                        </li>
                    </ul>
                </section>
                <section class='contact-methods-section contact-column'>
                    <h2>Other Enquiries</h2>
                    <ul>
                        <li>
                            <h3>Phone Number:</h3>
                            +44 7584 986388
                        </li>
                        <li>
                            <h3>Email Address</h3>
                            customersupport@bowlthemup.co.uk
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="contact-page-row">
            <h1 class='row-h1'>Where are we located?</h1>
            <div id='location-map-internal'>
                <section class='contact-column'>
                    <h2>Address Information</h2>
                    <ul>
                        <li>Address Line 1</li>
                        <li>Address Line 2</li>
                        <li>Post Code</li>
                        <li>City & County</li>
                    </ul>
                </section>
                <section class='contact-column'>
                </section>
            </div>
        </div>
        <div class="row"></div>
    </div> -->
{% endblock content %}  