{% extends 'base.html' %}

{% block title %} // Create Booking{% endblock title %}
{% block header %} / Create Booking{% endblock header %}


{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock %}
{% block content %}
<!-- Page content goes here -->
<!-- <h1><center>Your Recent Bookings</center></h1>
    <form id="Form" name="Myform" action=" " onsubmit= return " " method= "Get">
        <h1 id="bookingheader">Booking No.1</h1>
        <ul>
            <li><label for= "Booking Id"></label>Booking Id: <input id="input" type= "int" name= "booking" readonly/></li>
            <li><label for= "Time"></label>Time: <input id="input"  type= "time" name= "time"/></li>
            <li><label for= "Date"></label>Date: <input id="input"  type= "date" name= "date"/></li>
            <li><label for= "Players"></label>No. of Players: <input id="input"  type= "int" name= "players"/></li>
        </ul>
                <input id="button" type= "button" value= "Create Booking"/>
    </form>

<p><center>You have no other bookings</center></p> -->
<div id="form-wrapper">
    <form id="booking-form" name="createbooking" onsubmit=return"" method="POST">
        {% csrf_token %}
        <h1>Booking Form</h1>
        <ul>
            <li class="form-item">
                <label>Your Name:</label>
                <input name="FirstName" type="text" placeholder="First Name">
                <input name="LastName"  type="text" placeholder="Last Name">
            </li>
            <li class="form-item">
                <label>Book For:</label>
                <input name="DateTime" type="datetime-local">
            </li>
            <li class="form-item">
                <label>Number of Players:</label>
                <input name="PlayerCount" type="number" step="1" min="1" max="16" value="2">
            </li>
        </ul>
        <input id="form-submit" type="submit">
    </form>
</div>

{% endblock %}  