{% extends "base.html" %}

{% block title %} // Home{% endblock %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock stylesheets %}

{% block content %}
<div id="info-banner">
    <h1>We Are Right Up Your Alley!</h1>
    <hr id="separator">
    <p>
        Bowl Them Up Ltd is a quiet tenpin bowling experience with customer satisfaction
        being the ultimate goal of all conducted business.
    </p>
</div>
<div id="image-banner">
    <div id="image-banner-internal">
        <img src="{% static 'images/banner-1.jpg' %}" alt="Bowling Alley Photo 1">
        <img src="{% static 'images/banner-2.jpg' %}" alt="Bowling Alley Photo 2" style="margin: 0px 14px;">
        <img src="{% static 'images/banner-3.jpg' %}" alt="Bowling Alley Photo 3">
    </div>
</div>
{% endblock %}