{% extends "base.html" %}

{% block title %} // Login{% endblock %}
{% block header %} / Login{% endblock header %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}


{% if error_message %}
<div class="errormessage">
    <strong>ERROR: {{error_message}}</strong>
</div>
{% endif %}
<form method="post" action="{% url 'login_account' %}" class="form-register" style="margin: 525px 20px 0px;">
    {% csrf_token %}
    <label>Email Address</label>
    <input id="text-input" name="EmailAddress" type="email" placeholder="johndoe@example.com"/>
    <label>Password</label>
    <input id="text-input" name="password" type="password" placeholder="Password"/>
    <input id="submit" type="submit" value="Log In"/>
    <a href="{% url 'login_account' %}">Not Got An Account?</a>
</form>
{% endblock %}