{% extends "base.html" %}

{% block title %} // Register Account{% endblock %}
{% block header %}  / Register Account{% endblock header %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
	<div id="primary-banner">
		<img src="{% static 'images/Bowl-Them-Up-Arcade.jpg' %}">
		<form method="post" action="{% url 'create_account' %}" class="form-register">
			{% csrf_token %}
			<br>{{form.FirstName.label_tag}} {{form.FirstName}}
			<br>{{form.LastName.label_tag}} {{form.LastName}}
			<br>{{form.EmailAddress.label_tag}} {{form.EmailAddress}}
			<br>{{form.PhoneNumber.label_tag}} {{form.PhoneNumber}}
			<br>{{form.password1.label_tag}} {{form.password1}}
			<br>{{form.password2.label_tag}} {{form.password2}}
			<br><input id="submit" type="submit" value="Register">
		</form>
	</div>
	{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
	{% endif %}

	<div id="Info">
		<h1 id="MainTitle">Why create an account with us?</h1>
		<h3>At Bowl Them Up, we prioritise customer service before anything. We want to help you in any way that we can. When making an account with us, 
		you will gain full access into our brilliant lanes where you can create memories that will last! With making an account, you are also signed up 
		to our newsletter. This gives you updates on our great deals aswell as your booking reference when you book a lane.</h3>
	</div>
{% endblock content %}  
