{% extends "base.html" %}

{% block title %} // Register Account{% endblock %}
{% block header %}  / Register Account{% endblock header %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<!-- Page content goes here -->
    <form name="MyForm" action="/create-account/" id="Form" method="post">
		{% csrf_token %}
		<ul>
            <b><p id="MainTitle">Create an account with Bowl Them Up!</p></b>
            <h2>Enter your details below in order to make an account, which you can use to book lanes.</h2>
			<div id="InputWrapper">
				<div id="SecondaryWrapper">
					<li><label for="First name">First Name</label></li>
					<li><input type="text" name="FirstName"/></li>
					<li><label for="Last name">Last Name</label></li>
					<li><input type="text" name="FirstName"/></li>
					<li><label for="Password">Password</label></li>
					<li><input type="password" name="Password"/></li>
					<li><label for="ConfirmPassword">Confirm Password</label></li>
					<li><input type="password" name="ConfirmPassword"/></li>
					<li><label for="Phone number">Phone Number</label></li>
					<li><input type="text" name="PhoneNumber"/></li>
					<li><label for="Email">Email</label></li>
					<li><input type="text" name="Email"/></li>
					<div id="but">
						<li><input type="submit" value="Submit" id="sub"/></li>
					</div>
				</div>
				<img src="{% static 'images/account.png' %}" id="AccountImg" alt="account">
				<img src="{% static 'images/placeholder.jpg' %}" id="LogoImg" alt="logo">
			</div>
		</ul>
	</form>
	<img src="{% static 'images/family.jpg' %}" id="FamilyImg" alt="family">
	<div id="Info">
		<b><p id="MainTitle">Why create an account with us?</p></b>
		<h2>At Bowl Them Up, we prioritise customer service before anything. We want to help you in</h2>
		<h2>any way that we can. When making an account with us, you will gain full access into our</h2>
		<h2>brilliant lanes where you can create memories that will last! With making an account,</h2>
		<h2>you are also signed up to our newsletter. This gives you updates on our great deals</h2>
		<h2>aswell as your booking reference when you book a lane.</h2>
	</div>
	<div id="Location">
		<b><p id="MainTitle">Where to find us</p></b>
		<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2405.2591024550984!2d-1.4840096841773496!3d52.92576397989299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879f106b30dc97d%3A0xa9d84144848b8314!2sDerby%20College%20Group&#39;s%20Joseph%20Wright%20Centre!5e0!3m2!1sen!2suk!4v1636156019198!5m2!1sen!2suk" width="745" height="85" style="border:0;" allowfullscreen="true" zoomControl="true"></iframe>
	</div>
	
{% endblock content %}  
