{% extends 'base.html' %}
{% load static %}
{% block title %} // View Booking{% endblock title %}
{% block header %} / Bookings{% endblock header %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock %}

{% block content %}
<div id="wrapper">
    <a id="new-booking-btn" href="{% url 'create_booking' %}">New Booking</a>
    {% for booking in booking_entries %}
        <div class="entry">
            <div id="entry-banner">
                <h1>Booking Reference Number: #{{ booking.Id }}</h1>
                <div id="entry-management-container">
                    <a href="">edit</a> | <a href="{% url 'delete_booking' booking.Id %}">delete</a>
                </div>
            </div>
            <div id="entry-body">
                <h2>Customer Details</h2>
                Customer Name: {{ user.FirstName }}  {{ user.LastName }} <br>
                Customer Email: {{ user.EmailAddress }} <br><br>
                <h2>Booking Details</h2>
                Date & Time: {{ booking.DateTime }} <br>
                Number Of Players: {{ booking.NumberOfPlayers }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}