

#contact-page-wrapper {
    margin-top: 520px;
    width: 80%;
    height: fit-content;
}

.contact-page-row {
    width: 100%;
    height: fit-content;
    margin: 30px 0;
}

.contact-page-row-internal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.contact-page-row h1 {
    color: #f2f2f2;
    font-size: 30px;
}

.contact-page-column {
    padding: 20px;
    overflow: hidden;
}

.contact-page-column ul {
    list-style-type: none;
}

.contact-page-column ul li {
    color: #f9f9f9;
}

.contact-page-column h3 {
    color: #f9f9f9;
}

.contact-page-column h2 {
    color: #f9f9f9;
    font-size: 25px;
    margin-bottom: 10px;
}
























/* 
#contact-page-wrapper {
    margin-top: 550px;
    width: 80%;
    height: fit-content;
}

.contact-page-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
}

.row-h1 {
    color: #f9f9f9;
    font-size: 30px;
}

.contact-column {
    margin: 20px;
    width: 300px;
    background-color: #121212;
}

#contact-methods-body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: top;
    width: 100%;
    height: fit-content;
    background-color: red;
}

.contact-column h2 {
    color: #f9f9f9;
    font-size: 25px;
    margin: 5px 0;
}

.contact-column ul {
    list-style: none;
    margin: 20px 0;
}

.contact-column ul li {
    color: #f9f9f9;
}

.contact-column ul li h3 {
    color: #f9f9f9;
    font-size: 20px;
}

.contact-column ul li p {
    color: #f9f9f9;
} */