{% extends "base.html" %}

{% block title %} / Home{% endblock %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <!-- Page content goes here -->
    <!-- <div id="primary-banner">
        <div class="banner-wrapper">
        </div>
        <div class="banner-wrapper">
        </div>
        <div class="banner-wrapper">
        </div>
    </div> -->
    <div id="primary-banner">
        <img src="{% static 'images/banner-1.jpg' %}" alt="advert 1">
        <img src="{% static 'images/banner-2.jpg' %}" alt="advert 2">
        <img src="{% static 'images/banner-3.jpg' %}" alt="advert 3">
    </div>
    <h2 id="slogan">This is where our company slogan goes.</h2>
    <div id="brief-header-wrapper"><h3 id="brief-header">Brief</h3></div>
    <p id="briefbox">
        This is a brief description of our company. We will write some information
         here that will be useful to the user that is exploring the website. This
         is some default text used to test out the website design.
    </p>
{% endblock %}