{% extends "base.html" %}

{% block title %} / Login{% endblock %}
{% block header %} / Login{% endblock %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div id="primary-banner"></div>
<div id="img">
    <img src="{% static 'images/Bowl-Them-Up-Arcade-Img.jpg' %}" alt="ad1">
</div>

<h1><center>User Login</center></h1>
    <form id="Form" name="Myform" action=" " onsubmit= return " " method= "Get">
        <ul>
            <h1><center>Please Enter Your Details Below</center></h1>
    
            <li><label for= "Email Address"></label>Email Address: <input type= "int" name= "email"/></li>
            <br>
            <br>
            <li><label for= "Password"></label>Password: <input type= "password" name= "pass"/></li>
            <br>
            <br>
            <div id="sub">
                <li><input type= "submit" name= "Submit"/></li>
            </div>
        </ul>
    </form>
    <form id="Info" name="Information" action=" " onsubmit= return " " method= "Get">
        <ul>
            <h1><center>Please Enter Your Details Below</center></h1>
    
            <li><label for= "Details"></label><center>Log into your account from here to view your previous bookings, create new and cancel upcoming games.</center></li>
            <br>
            <br>
            <br>
        </ul>
    </form>

{% endblock %}